---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Tags from '../components/Tags.astro';
import TopBtn from '../components/TopBtn.astro';
import "../styles/global.css";
const { title, author, description, pubDate, updatedDate, heroImage, tags, slug } = Astro.props;
---

<BaseLayout>
			<article id="top" data-pagefind-body >
				<div class="hero-image">
      {heroImage && <img width={1021} height={510} src={heroImage} alt=""   />}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">  
            { pubDate && (
							<FormattedDate date={pubDate} />
            )}
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
        <h1 data-agefind-weight="7" >{title}</h1>
            { author && (
        <p data-pagefind-weight="6" style={{margin: 0}}>Por {author}</p>
            )}
						<hr />
            { tags?.length > 0 && (
            <ul class="taglist">
              {tags.map((tag) => (
                <Tags tag={tag} pad={"0.4em"} />
              ))}
            </ul>
						<hr />
            )}
					</div>
					<slot />
				</div>
			</article>
  <TopBtn /> 
</BaseLayout>

